# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\ECEUWO\Teaching\Winter2021\SE2203b\Assignments\2\Solution2021\iPublisher\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
